*{
    margin:0;
    padding: 0;
}
table,tr,td{
    float: center;
    position: relative;
    left: 270px;
    margin-top: 1%;
}
nav{
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
nav ul{
    padding: 0px;
    background-color: #73befcd8;
    position: relative;
    display: inline-table;
    width: 100%;
    list-style: none;
}
nav ul li{
    float: left;
}
nav ul li:hover a{
    color: black;
    font-weight: bold;
}
nav ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:black;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    left: 190px;
    font-size: 20px;
}
:root {
  --teal-050: #effcf6;
  --teal-100: #c6f7e2;
  --teal-200: #8eedc7;
  --teal-300: #65d6ad;
  --teal-400: #3ebd93;
  --teal-500: #27ab83;
  --teal-600: #199473;
  --teal-700: #147d64;
  --teal-800: #0c6b58;
  --teal-900: #014d40;
  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #0c0c0c;
  --blue-grey-700: #080808;
  --blue-grey-800: #0c0c0c;
  --blue-grey-900: #0c0c0c;
}
h3{
  text-align: center;
  color: white;
}
.text{
width: 150px;
font-size: 17px;
color: white;
}
.materi{
  margin: auto;
  float: left;
  width: 15%;
  height: 260px;
  padding: 20px;
  border-radius: 8px;
  align-items: left;
  position: relative;
  left: 30px;
  background-color: rgba(160, 153, 153, 0.849);
}
.latihan{
  margin: auto;
  float: center;
  margin-top:80px;
  width: 15%;
  height: 260px;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  position: relative;
  right: 220px;
  background-color:rgba(183, 183, 199, 0.973) ;
}
.chat{
  margin: auto;
  float: right;
  width: 15%;
  height: 260px;
  padding: 20px;
  border-radius: 8px;
  align-items: right;
  position: relative;
  bottom:300px;
  right: 470px;
  background-color: rgba(180, 168, 231, 0.842);
  
}
#selengkapnya{
  padding:8px 30px;
  border-radius: 5px;
  border:2px solid white;
  background-color: transparent;
  color: white;
  text-decoration: none;
}
main {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin:auto;
  float: right;
  padding: 17px;
  border: 2px solid var(--blue-grey-200);
  border-radius: 8px;
  position: relative;
  bottom: 340px;
  left: 192px;
 
}
.indikator-bulan {
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
  font: bold;
}
.date-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
  
.date-grid {
    margin-top: 2px;
    text-align: center;
}
  
.date-grid button:first-child {
    grid-column: 1;
}
  
.date-grid button {
    position: relative;
    border: 0;
    width: 4.5ch;
    height: 4.5ch;
    border-radius: 50%;
    background-color: transparent;
    color: var(--blue-grey-600);
}
  
.date-grid button:hover,
.date-grid button:focus {
    outline: none;
    background-color: var(--blue-grey-050);
    color: var(--blue-grey-700);
}
  
.date-grid button:active,
.date-grid button.is-selected {
    background-color: var(--teal-100);
    color: var(--teal-900);
}
.kalender{
max-width: 160px;
padding: 10px;
text-align: center;
position: relative;
bottom:360px;
left: 1070px;
border-radius: 20px;
background-color: #73befcd8;
}
#text1{
max-width: 160px;
padding: 10px;
text-align: center;
position: relative;
bottom:40px;
left: 1090px;
border-radius: 20px;
background-color: #73befcd8;
color: black;
text-decoration: none;
}
#text2{
  max-width: 160px;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom:-10px;
  left: 1100px;
  border-radius: 20px;
  background-color: #73befcd8;
  color: black;
  text-decoration: none;
}