.chat{
    border:2px solid black;
    width: 800px;
    height: 600px;
    float: right;
    display: grid;
}
.text{
    padding: 100px 25px;
    position: relative;
    bottom: 200px;
    left: 550px;
}